* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #dfe0e6;
}

/* =============  Header Section ================= */
header {
    padding: 30px 0px;
    margin-bottom: 1rem;
    text-align: center;
    color: #0a3871;
}
header h1 {
    font-size: 3rem;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 95%;
    margin: auto;
}

/* =============  left Section  ================= */
.left{
    width: 60%;
}

/* =============  textarea style  ================= */
.left__input {
    display: block;
    width: 100%;
    min-height: 450px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    color: #0a3871;
    border: none;
    border-radius: 30px;
    resize: none;
}
.left__input:focus {
    outline: none;
}
.left__text {
    width: 100%;
    margin-top: 10px;
    font-size: smaller;
    color: #696a6e;
}

/* =============  buttons container  ================= */
.left__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* =============  general styles for buttons contain btn class  ================= */
.btn {
    /* width: auto; */
    padding: 5px 10px;
    border-radius: 10px;
    border: 0.25px solid #0a3871;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* =============  Stulys for buttons  ================= */
#btn_encrypt{
    background: #0a3871;
    color: #f3f5fc;
}
#btn_encrypt:hover{
    background: #d8dfe8;
    color: #000;
}
#btn_decrypt, #btn_copy{
    background: #d8dfe8;
    color: #000;
}
#btn_decrypt:hover, #btn_copy:hover{
    background: #0a3871;
    color: #f3f5fc;
}

/* =============  rigth Section  ================= */
.rigth {
    width: 40%;
}
.rigth__image {
    width: 100%;
    min-height: 450px;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    text-align: center;
}
.rigth__image img {
    max-width: 100%;
}

.rigth__text {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background: #fff;
    border-radius: 30px;
    color: #0a3871;
    text-align: center;
    font-size: 1.3rem;
}
.rigth__text p:first-child {
    font-weight: bolder;
}

.rigth__result {
    width: 100%;
    min-height: 450px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    color: #0a3871;
    border-radius: 30px;
}
.rigth__button {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

/* =============  this style is active with JavaScript  ================= */
.dnone {
    display: none;
}

/* =============  footer styles  ================= */
footer {
    margin-top: 4rem;
    padding-bottom: 0.5rem;
    color: #03152b;
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
}

.footer__social { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* Reponsive Design */

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }
    .left__buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* justify-content: space-between; */
        margin-top: 20px;
    }
    .rigth__image img {
        display: none;
    }
    .container {
        width: 95%;
        margin: auto;
        flex-direction: column;
    }
    .left,  .rigth, .rigth__result {
        width: 100%;
    }
    .rigth__image {
        min-height: auto;
    }
    .rigth__result {
        min-height: 200px;
    }
    .rigth__text {
        margin-top: 0;
    }
    .rigth__button {
        display: flex;
        flex-direction: column;
    }

    .dnone {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .left{
        width: 50%;
    }
    .rigth{
        width: 50%;
    }
}